<div class="container">
  <div style="display: flex;justify-content: space-between;">
    <h3>My Blog</h3>
    <button mat-button (click)="openPostDialog()">
      <mat-icon>add</mat-icon> ADD NEW
    </button>
  </div>
  <div *ngIf="isLoading" class="blogList">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div *ngFor="let blog of blogs">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar
            style="background-color: rgb(194, 95, 95); display: flex;justify-content: center;align-items: center;"
            class="example-header-image">{{blog.title.charAt(0) | uppercase}}</div>
          <mat-card-title>{{blog.title | titlecase}}</mat-card-title>
          <mat-card-subtitle>Created On:{{blog.addedDate | date: 'MMM d, y, h:mm:ss a'}}, Updated On:{{blog.updateDate |
            date: 'MMM d, y, h:mm:ss a'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{blog.content}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-spinner  mode="indeterminate" style="margin:0 auto;" [diameter]="30" *ngIf="isLoadingDelete && blogDelete === blog.blogid"></mat-spinner>
          <button *ngIf="!(isLoadingDelete && blogDelete === blog.blogId)" mat-button
            (click)="openEditDialog(blog.blogId, blog.title, blog.content)">EDIT</button>
          <button *ngIf="!(isLoadingDelete && blogDelete == blog.blogId)" mat-button
            (click)="deletePost(blog.blogId)">DELETE</button>
        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </div>
</div>